In [1]:
import os
os.chdir("..")

from src.data_loader import DatabaseConnection

db_connection = DatabaseConnection(
    ssh_host='162.43.30.233',
    ssh_port=22,
    ssh_user='root',
    ssh_pkey='analysis_notebooks/mikata.ppk', 
    db_host='127.0.0.1',
    db_port=3306,
    db_user='aiscope',
    db_password='Root@123',
    db_name='ps_scope'
)

db_connection.start_tunnel()

2024-11-07 00:33:08,767| ERROR   | Password is required for key C:\Users\yshim/.ssh\id_rsa

SSHトンネルが 58430 にバインドされました。

In [2]:
query = "SHOW TABLES"
print(db_connection.execute_query(query))

         Tables_in_ps_scope
0           modelevaluation
1       re_compare_machines
2          re_compare_seach
3         re_frame_relation
4                 re_frames
5               re_machines
6                  re_maker
7          re_model_results
8          re_pachinko_type
9   re_pachinko_type_detail
10             re_slot_spec

In [3]:
df_modelevaluation = db_connection.execute_query("select * from modelevaluation")
df_re_frame_relation = db_connection.execute_query("select * from re_frame_relation")
df_re_frames = db_connection.execute_query("select * from re_frames")
df_remachines = db_connection.execute_query("select * from re_machines")
df_re_model_results = db_connection.execute_query("select * from re_model_results")
df_re_pachinko_type = db_connection.execute_query("select * from re_pachinko_type")
df_re_pachinko_type_detail = db_connection.execute_query("select * from re_pachinko_type_detail")
df_re_slot_spec = db_connection.execute_query("select * from re_slot_spec")
#df_user_store_data = db_connection.execute_query("select * from user_store_data")

In [7]:
import pandas as pd
df_remachines['created_at'] = pd.to_datetime(df_remachines['created_at'])
df_remachines = df_remachines.sort_values(by='created_at', ascending=False)
df_remachines[['KatashikiId', 'created_at', 'MachineCategory']]

            KatashikiId          created_at  MachineCategory
4449  P2024110512432401 2024-11-05 12:43:24                0
4448  P2024110510201801 2024-11-05 10:20:18                0
4447  P2024110510192201 2024-11-05 10:19:22                0
4446  S2024103009160301 2024-10-30 09:16:03                1
3204  P2024102917163301 2024-10-29 17:16:33                0
...                 ...                 ...              ...
4     P2015030101111501 2015-03-01 01:11:16                0
3     P2015030101104301 2015-03-01 01:10:44                0
2     P2015030101101701 2015-03-01 01:10:17                0
1     P2015030101095001 2015-03-01 01:09:50                0
0     P2015030101082501 2015-03-01 01:08:26                0

[4450 rows x 3 columns]

In [4]:
katashiki_ids = [
"S2018030816143901",
"S2018030816125301",
"S2018030816111601",
"S2018030816001101"
]
len(df_remachines[df_remachines['KatashikiId'].isin(katashiki_ids)])

4

In [7]:
df_remachines[df_remachines['KatashikiId'].isin(katashiki_ids)][['KatashikiId', 'created_at']]

            KatashikiId          created_at
3969  S2018030816001101 2018-03-08 16:00:11
3970  S2018030816111601 2018-03-08 16:11:16
3971  S2018030816125301 2018-03-08 16:12:53
3972  S2018030816143901 2018-03-08 16:14:39

In [8]:
katashiki_ids = [
"S2018030816143901",
"S2018030816125301",
"S2018030816111601",
"P2020032013405101"]
df_remachines[df_remachines['KatashikiId'].isin(katashiki_ids)][['KatashikiId', 'created_at']]

            KatashikiId          created_at
2466  P2020032013405101 2020-03-20 13:40:51
3970  S2018030816111601 2018-03-08 16:11:16
3971  S2018030816125301 2018-03-08 16:12:53
3972  S2018030816143901 2018-03-08 16:14:39

In [4]:
for df in [df_modelevaluation, df_re_frame_relation, df_re_frames, df_remachines, df_re_model_results,
           df_re_pachinko_type, df_re_pachinko_type_detail, df_re_slot_spec]:
    
    print(df.columns.tolist())

['id', 'KatashikiId', 'GrossProfit', 'Concept', 'Performance', 'Content', 'SaleUnit', 'Spec', 'Period', 'News', 'Running', 'Returns', 'Price', 'ContributionExpected', 'created_at', 'updated_at']
['id', 'frameId', 'KatashikiId', 'created_at', 'updated_at']
['id', 'Name', 'Color', 'makerId', 'ImagePath', 'Kind', 'SortNo', 'created_at', 'updated_at']
['id', 'KatashikiId', 'makerId', 'pachinkoTypeId', 'pachinkoTypeDetailId', 'slotSpecId', 'ImagePath', 'Name', 'MachineCategory', 'Price', 'PriceDetail', 'SaleUnit', 'SaleUnitOther', 'BigRate', 'SmallRate', 'WinBallCount', 'Hold', 'PayCount', 'KakuhenRate1_1', 'KakuhenRate1_2', 'KakuhenRate1_3', 'KakuhenRate2', 'KakuhenRate3', 'Jitan', 'TamaUnitPrice', 'EquivalentBranch', 'MovieUrl1', 'MovieUrl2', 'InspectDate', 'HyoukaKatashikiId', 'GrossProfit', 'ReleaseDate', 'BonusLabel1', 'BonusLabel2', 'BonusLabel3', 'BonusLabel4', 'BonusLabel5', 'BonusValue1_1', 'BonusValue1_2', 'BonusValue1_3', 'BonusValue1_4', 'BonusValue1_5', 'BonusValue2_1', 'BonusValue2_2', 'BonusValue2_3', 'BonusValue2_4', 'BonusValue2_5', 'BonusValue3_1', 'BonusValue3_2', 'BonusValue3_3', 'BonusValue3_4', 'BonusValue3_5', 'BonusValue4_1', 'BonusValue4_2', 'BonusValue4_3', 'BonusValue4_4', 'BonusValue4_5', 'BonusValue5_1', 'BonusValue5_2', 'BonusValue5_3', 'BonusValue5_4', 'BonusValue5_5', 'BonusValue6_1', 'BonusValue6_2', 'BonusValue6_3', 'BonusValue6_4', 'BonusValue6_5', 'CoinUnit', 'SpecDetail1', 'SpecDetail2', 'GameUnit', 'BonusDetail', 'Comment_1', 'DateComment_1', 'Star_1', 'Comment_2', 'DateComment_2', 'Star_2', 'Comment_3', 'DateComment_3', 'Star_3', 'BonusFlag6_5', 'BonusFlag6_4', 'BonusFlag6_3', 'BonusFlag6_2', 'BonusFlag6_1', 'BonusFlag5_5', 'BonusFlag5_4', 'BonusFlag5_3', 'BonusFlag5_2', 'BonusFlag5_1', 'BonusFlag4_5', 'BonusFlag4_4', 'BonusFlag4_3', 'BonusFlag4_2', 'BonusFlag4_1', 'BonusFlag3_5', 'BonusFlag3_4', 'BonusFlag3_3', 'BonusFlag3_2', 'BonusFlag3_1', 'BonusFlag2_5', 'BonusFlag2_4', 'BonusFlag2_3', 'BonusFlag2_2', 'BonusFlag2_1', 'BonusFlag1_5', 'BonusFlag1_4', 'BonusFlag1_3', 'BonusFlag1_2', 'BonusFlag1_1', 'InspectFlag', 'TenjiFlag', 'NairanFlag', 'PayCountAve', 'ContinueCountAve', 'created_at', 'updated_at', 'ModelLife']
['id', 'KatashikiId', 'GrossProfit', 'Concept', 'Performance', 'Content', 'SaleUnit', 'Spec', 'Period', 'News', 'Running', 'Returns', 'Price', 'created_at', 'updated_at', 'ModelLife']
['id', 'TypeName', 'created_at', 'updated_at']
['id', 'TypeName', 'created_at', 'updated_at']
['id', 'SpecName', 'created_at', 'updated_at']

In [5]:
df_remachines['ModelLife'].describe()

count    4447.000000
mean       12.107263
std        37.241373
min         0.000000
25%         0.000000
50%         5.000000
75%         9.000000
max       405.000000
Name: ModelLife, dtype: float64

In [9]:
len(df_remachines[df_remachines['ModelLife'].isnull()])

0

In [10]:
len(df_remachines[df_remachines['GrossProfit'].isnull()])

988

2024-10-30 17:58:53,031| ERROR   | Socket exception: 既存の接続はリモート ホストに強制的に切断されました。 (10054)

In [6]:
df_modelevaluation['Price'].describe()

count    8.000000
mean     1.593750
std      0.999442
min      0.000000
25%      0.875000
50%      2.000000
75%      2.062500
max      3.000000
Name: Price, dtype: float64

In [6]:
len(df_modelevaluation[df_modelevaluation['Price'].isnull()]) / len(df_modelevaluation['Price'])

0.0

In [7]:
len(df_modelevaluation['Price'])

1466

In [8]:
len(df_modelevaluation[df_modelevaluation['Price'].isnull()])

0

In [1]:
import os
os.chdir("..")

from src.data_loader import DatabaseConnection

In [2]:
db_dev_connection = DatabaseConnection(
                        ssh_host='www.redesign777.tokyo',
                        ssh_port=22,
                        ssh_user='rddev',
                        ssh_password='rdDev@20240521',
                        db_host='localhost',
                        db_port=3306,
                        db_user='rddev',
                        db_password='rdSql@20240521',
                        db_name='redesign')

db_dev_connection.start_tunnel()

2024-10-30 19:47:03,435| ERROR   | Password is required for key C:\Users\yshim/.ssh\id_rsa

SSHトンネルが 61644 にバインドされました。

In [3]:
query = "SHOW TABLES"
print(db_dev_connection.execute_query(query))

              Tables_in_redesign
0               re_m_coefficient
1                     re_m_frame
2                 re_m_katashiki
3   re_m_katashikidetailpachinko
4       re_m_katashikidetailslot
5    re_m_katashikiframerelation
6              re_m_labele_atari
7                     re_m_maker
8           re_m_modelevaluation
9              re_m_pachinkotype
10       re_m_pachinkotypedetail
11                 re_m_slotspec